$primary-color: hsla(160, 100%, 37%, 1);
$white-color: rgb(255, 255, 255);

.primary-button {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white-color;
  padding: 10px;
  border-radius: 6px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.secondary-button {
  background-color: $white-color;
  border-color: $primary-color;
  color: $primary-color;
  padding: 10px;
  border-radius: 6px;
}

h1 {
  text-align: center;
}

.form-group {
  margin: 1rem auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#google-signin-button {
  button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
  }
  .login-btn-img {
    width: 30px;
    height: 30px;
  }
}
